<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="match_parent"
    android:layout_height="50dp"
    android:weightSum="5">
    <FrameLayout
        android:layout_width="0dp"
        android:layout_weight="1"
        android:layout_height="match_parent">
        <TextView
            android:id="@+id/numberText"
            android:background="@drawable/circle"
            android:shadowColor="@android:color/white"
            android:shadowRadius="6.0"
            android:textColor="@android:color/white"
            android:textSize="18sp"
            android:layout_gravity="center"
            android:gravity="center"
            android:layout_width="40dp"
            android:layout_height="40dp" />
    </FrameLayout>
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="0dp"
        android:layout_weight="4"
        android:layout_height="match_parent"
        android:id="@+id/linearLayout1">
        <TextView
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/textHeader"
            android:layout_gravity="center_vertical"
            android:gravity="center_vertical"
            android:layout_marginLeft="10dp" />
    </LinearLayout>
</LinearLayout>